<form action="">
  <app-multisel>
    <ng-container formFields *ngIf="selectedField=='Name'">
      <div class="name-sect">
        <input type="text" placeholder="Name">
      </div>
    </ng-container>
    <ng-container formFields *ngIf="selectedField=='Email'">
      <div class="email-sect">
        <input type="Email" placeholder="Email">
      </div>
    </ng-container>
    <ng-container formFields *ngIf="selectedField=='Password'">
      <div class="paswrd-sect">
        <input type="password" placeholder="Password">
      </div>
    </ng-container>
    <ng-container formFields *ngIf="selectedField=='Confirm'">
      <div class="cpaswrd-sect">
        <input type="password" placeholder="Confirm Password">
      </div>
    </ng-container>
    <ng-container formFields *ngIf="selectedField=='Submit'">
      <div class="submit-sect">
        <button>Submit</button>
      </div>
    </ng-container>
  </app-multisel>

  <div class="btn-sect">
    <button (click)="prevElem($event)">Prev</button>
    <button (click)="nextElem($event)">Next</button>
  </div>
</form>


